<style>
    .box {
        border: 1px solid black;
        padding: 10px;
        margin-bottom: 10px;
    }
</style>

<main class="main">
    <div *ngFor="let commentaire of commentaires; trackBy: trackById" class="box">
        <table class="table">
            <tbody>
                <tr>
                    <td>{{ commentaire.id }}</td>
                    <td>{{ commentaire.utilisateur }}</td>
                    <td>{{ commentaire.date | date:'dd/MM/yyyy' }}</td>
                    <td>
                        <button (click)=" deleteCommentaire(commentaire.id)" class="btn btn-danger btn-sm">
                            Supprimer
                        </button>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">{{ commentaire.contenu }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <p *ngIf="commentaires.length === 0">There are no commentaires</p>
    <button (click)="HomeRedirect()" class="btn btn-primary mt-3">Retour Page d'Accueil</button>
</main>